*node_modules

# misc
.DS_Store
.env.local
.ene.development.local
.evn.test.local
.evn.production.local

# Old apikey 90cf722a77bc4037ae35592de647c4a8
# New apikey c5b3e81401a04b5798d7fe83ea3a4aa0

#temp : netan94434@kameili.com